@import-normalize;
/* bring in normalize.css styles */

:root {
  --brand-color: #FC842D;
  --text-light: #9B9FAA;
  --background: #F0F1F3;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}