@import-normalize; /* bring in normalize.css styles */

:root {
  --brand-color: #FC842D;
  --text-light: #9B9FAA;
  --background: #F0F1F3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image:
  url('../src/images/Desktop/Frame\ 1.png'), /* Imagen de fondo principal */
  url('../src/images/Desktop/Vector\ 3.png'); /* Imagen superpuesta */
  background-size: contain;
  background-position: right top, right top; /* Ambas imágenes en la misma posición */
  background-repeat: no-repeat, no-repeat; /* Evita que las imágenes se repitan */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura del viewport */
  overflow: hidden; /* Evita la barra de desplazamiento vertical */
  }

  @media screen and (min-width: 1120px) {
   
  }

  @media screen and (min-width: 769px) and (max-width: 1119px) {
    body {
      background-image:
        url('./images/Tablet/Layer-42\ 1@tabletFondo.png'),
        url('./images/Tablet/Strawberry-Big-PNG@tabletFresa.png'),
        url('./images/Tablet/Layer-9@bananoFondo.png'),
        url('./images/Tablet/Vector\ 3@fondoGris.png');
      background-size: 40%, 40%, 40%;
      background-position: center center, center right, right bottom, right bottom;
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      overflow: auto;
  }

}


@media screen and (max-width: 768px) {
  body {
    background-image: none;
    overflow: auto;
    height: auto;
  }
}
